<!--
<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>

  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()"> 

      <ion-list-header>
        <!--<ion-label>Formulario template: Valido {{ formulario.valid }}</ion-label>-->
        

        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="ion-text-center">
                <ion-text color="primary">
                  <h1>Safer Service</h1>
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      
      </ion-list-header>
      
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-list>
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email"
                           pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                           name="email"
                           required
                           [(ngModel)]="usuario.email"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-list>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password"
                           name="password"
                           required
                           [(ngModel)]="usuario.password"></ion-input> 
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button
                        type="submit" 
                        expand="full" 
                        color="primary"
                        routerLink="/home-cliente"
                        [disabled]="formulario.invalid">
              Ingresar
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button 
              expand="full" 
              color="primary"
              routerLink="/registro">
              Registrarse
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </form>
    
</ion-content>
