<app-menu></app-menu>

<ion-header id="principal" no-border translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"
                       menu="primerMenu"></ion-menu-button>
      <ion-back-button text="Regresar"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Mis datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <h3>Perfil del cliente</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
